<footer class="bg-gray-900 text-gray-300 py-10 px-6 mt-16 h-full">
  <!-- Bottom -->
  <div
    class="max-w-6xl mx-auto flex flex-col sm:flex-row justify-between items-center pt-6 text-sm"
  >
    <!-- <p class="text-gray-500 text-center sm:text-left">
      © {{ new Date().getFullYear() }} FragPlace. All rights reserved.
    </p> -->
    <p class="text-gray-500 mt-2 sm:mt-0 text-center sm:text-right">
      Made by <span class="text-white font-medium">James </span>
    </p>
  </div>
</footer>
