<footer class="bg-gray-900 text-gray-300 py-10 px-6 mt-16 h-full">
  <!-- Bottom -->
  <div class="flex items-center justify-between">
    <!-- <p class="text-gray-500 text-center sm:text-left">
      © {{ new Date().getFullYear() }} FragPlace. All rights reserved.
    </p> -->
    <p class="text-gray-500 mt-2 sm:mt-0 text-center sm:text-right">
      Made by <span class="text-white font-medium">James Sevilla Anquillano</span>
    </p>

    <div>
      <a
        href="https://github.com/semajame "
        target="_blank"
        rel="noopener noreferrer"
        class="hover:opacity-80 transition"
      >
        <lucide-icon [img]="Github" class="w-6 h-6 text-white"></lucide-icon>
      </a>
    </div>
  </div>
</footer>
