<header
  class="fixed top-0 left-0 w-full z-50 py-4 px-8 backdrop-blur-md bg-white/80 border-b border-white/20 shadow-sm text-black"
>
  <div class="mx-auto flex justify-between items-center">
    <div><a href="/" class="text-3xl font-semibold tracking-tighter"> Scentsations </a></div>
    <div>
      <a
        href="https://github.com/semajame "
        target="_blank"
        rel="noopener noreferrer"
        class="hover:opacity-80 transition"
      >
        <lucide-icon [img]="Github" class="w-6 h-6 text-black"></lucide-icon>
      </a>
    </div>
  </div>
</header>
