@media (max-width: 640px) {
  input {
    font-size: 14px;
    padding: 0.6rem;
  }

  button {
    padding: 0.6rem 1rem;
    font-size: 14px;
  }

  li img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}
