<div class="py-[10rem] container mx-auto px-4 h-full">
  <h1 class="text-3xl mb-5">Most Popular Fragrances</h1>

  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4 sm:gap-6"
    *ngIf="!loading() && !error()"
  >
    <div *ngFor="let f of fragrances()" class="">
      <img
        *ngIf="f.image?.url"
        [src]="f.image.url"
        [alt]="f.name"
        class="w-full h-48 object-contain rounded-sm mb-3 bg-white border border-gray-100 shadow-xs p-3"
      />

      <!-- Name & Brand -->
      <div class="my-2 flex-grow">
        <h2 class="text-black text-ellipsis text-sm truncate">
          {{ f.name || 'Unnamed Fragrance' }}
        </h2>
        <p class="text-gray-500 text-xs">
          {{ f.brand?.name || 'Unknown' }}
        </p>
      </div>

      <hr class="my-2 sm:my-3" />

      <!-- Reviews -->
      <div class="flex items-center justify-between text-xs sm:text-sm">
        <p class="flex items-center gap-1">
          <lucide-icon
            [img]="Star"
            class="w-3 h-3 sm:w-4 sm:h-4 text-yellow-300 fill-yellow-300"
          ></lucide-icon>
          {{ f.reviewsScoreAvg || 0 }}
        </p>
        <p class="text-gray-500">Votes: {{ f.reviewsCount || 'N/A' }}</p>
      </div>
    </div>
  </div>
</div>
