<div class="container mx-auto p-4">
  <h1 class="text-center text-2xl text-gray-500">Popular Now</h1>
  <div class="my-10 text-center flex flex-wrap flex-row gap-10 justify-center">
    <div class="">
      <img
        alt="Picture of Quentin Bisch perfumer"
        loading="lazy"
        width="80"
        height="80"
        decoding="async"
        data-nimg="1"
        class="rounded-full mx-auto mb-2"
        sizes="(max-width: 768px) 100vw,
              (max-width: 1200px) 50vw,
              33vw"
        srcset="
          https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-256,q-85,f-auto,fo-auto,h-256,bg-FFFFFF    256w,
          https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-384,q-85,f-auto,fo-auto,h-384,bg-FFFFFF    384w,
          https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-640,q-85,f-auto,fo-auto,h-640,bg-FFFFFF    640w,
          https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-750,q-85,f-auto,fo-auto,h-750,bg-FFFFFF    750w,
          https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-828,q-85,f-auto,fo-auto,h-828,bg-FFFFFF    828w,
          https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-1080,q-85,f-auto,fo-auto,h-1080,bg-FFFFFF 1080w,
          https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-1200,q-85,f-auto,fo-auto,h-1200,bg-FFFFFF 1200w,
          https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-1920,q-85,f-auto,fo-auto,h-1920,bg-FFFFFF 1920w,
          https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-1920,q-85,f-auto,fo-auto,h-1920,bg-FFFFFF 2048w,
          https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-1920,q-85,f-auto,fo-auto,h-1920,bg-FFFFFF 3840w
        "
        src="https://ik.imagekit.io/fragplace/s3/global/e/7/e77416ac-200b-4193-b0e2-77f7696b2d48_8e08f2f1-5187-40fb-8ce0-dfaa2c2babf4.png?tr=w-1920,q-85,f-auto,fo-auto,h-1920,bg-FFFFFF"
        style="color: transparent; object-fit: cover"
      />
      <h2 class="text-sm">Quentin Bisch</h2>
      <p class="text-xs text-gray-400">168 creations</p>
    </div>
    <div class="">
      <img
        alt="Picture of Alberto Morillas perfumer"
        loading="lazy"
        width="80"
        height="80"
        decoding="async"
        data-nimg="1"
        class="rounded-full mx-auto mb-2"
        sizes="(max-width: 768px) 100vw,
              (max-width: 1200px) 50vw,
              33vw"
        src="https://ik.imagekit.io/fragplace/s3/global/2/2/229e7a11-6758-44e7-83e8-41a4fdad1b49_c760eb7c-c231-4a4a-9171-c033979b4a18.png?tr=w-640,q-85,f-auto,fo-auto,h-640,bg-FFFFFF"
        style="color: transparent; object-fit: cover"
      />
      <h2 class="text-sm">Alberto Morillas</h2>
      <p class="text-xs text-gray-400">498 creations</p>
    </div>
    <div class="">
      <img
        alt="Picture of Jacques Belletrud perfumer"
        loading="lazy"
        width="80"
        height="80"
        decoding="async"
        data-nimg="1"
        class="rounded-full mx-auto mb-2"
        sizes="(max-width: 768px) 100vw,
              (max-width: 1200px) 50vw,
              33vw"
        src="https://ik.imagekit.io/fragplace/s3/global/7/2/72702480-2043-4b9f-9b27-ff4175be15b5_d0789b06-37e1-4ae6-a644-712bb8cadbdc.png?tr=w-640,q-85,f-auto,fo-auto,h-640,bg-FFFFFF"
        style="color: transparent; object-fit: cover"
      />
      <h2 class="text-sm">Jacques Belletrud</h2>
      <p class="text-xs text-gray-400">216 creations</p>
    </div>
    <div class="">
      <img
        alt="Picture of Dominique Ropion perfumer"
        loading="lazy"
        width="80"
        height="80"
        decoding="async"
        data-nimg="1"
        class="rounded-full mx-auto mb-2"
        sizes="(max-width: 768px) 100vw,
              (max-width: 1200px) 50vw,
              33vw"
        src="https://ik.imagekit.io/fragplace/s3/ucm16go8fk0002770h9iof2y7n/n/o/25336d12-8a86-4069-8e13-f45404f4e9b3.png?tr=w-640,q-85,f-auto,fo-auto,h-640,bg-FFFFFF"
        style="color: transparent; object-fit: cover"
      />
      <h2 class="text-sm">Dominique Ropion</h2>
      <p class="text-xs text-gray-400">373 creations</p>
    </div>
    <div class="">
      <img
        alt="Picture of Francois Demachy perfumer"
        loading="lazy"
        width="80"
        height="80"
        decoding="async"
        data-nimg="1"
        class="rounded-full mx-auto mb-2"
        sizes="(max-width: 768px) 100vw,
              (max-width: 1200px) 50vw,
              33vw"
        src="https://ik.imagekit.io/fragplace/s3/global/a/e/ae8f5392-7d7c-40fb-ae71-f8199ac50fb2_94fc7bf4-e328-4d32-bb15-c61c97ecf05a.png?tr=w-640,q-85,f-auto,fo-auto,h-640,bg-FFFFFF"
        style="color: transparent; object-fit: cover"
      />
      <h2 class="text-sm">Francois Demachy</h2>
      <p class="text-xs text-gray-400">207 creations</p>
    </div>
    <div class="">
      <img
        alt="Picture of Francis Kurkdjian perfumer"
        loading="lazy"
        width="80"
        height="80"
        decoding="async"
        data-nimg="1"
        class="rounded-full mx-auto mb-2"
        sizes="(max-width: 768px) 100vw,
              (max-width: 1200px) 50vw,
              33vw"
        src="https://ik.imagekit.io/fragplace/s3/global/0/3/03d755a8-26b1-4db6-a0c5-fc6554468a55_fb792ebe-f3fa-4b5a-b845-dc20adb2a70f.png?tr=w-640,q-85,f-auto,fo-auto,h-640,bg-FFFFFF"
        style="color: transparent; object-fit: cover"
      />
      <h2 class="text-sm">Francis Kurkdjian</h2>
      <p class="text-xs text-gray-400">254 creations</p>
    </div>
  </div>
  <div class="flex flex-wrap justify-center gap-4 p-4">
    <div *ngFor="let brand of brands" class="w-28 h-28 flex items-center justify-center">
      <div
        class="shadow rounded-lg w-full h-full overflow-hidden flex items-center justify-center bg-white p-4"
        [title]="brand.name"
      >
        <img
          src="{{ brand.image }}"
          alt="{{ brand.name }}"
          class="w-full h-full object-contain"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
